<h1>Lista de la compra</h1>
<table style="width: 100%; border: 1px solid black;">
  <tr>
    <th>Comprado</th>
    <th>Producto</th>
    <th>Descuento</th>
  </tr>
  <tr *ngFor="let compra of compras; index as i;">
    <td align="center">
      <input type="radio" name="comprar-{{i}}" [(ngModel)]="compra.comprado" [value]=true> Si
      <input type="radio" name="comprar-{{i}}" [(ngModel)]="compra.comprado" [value]=false> No
    </td>
    <td align="center">{{compra.comprar}}</td>
    <td align="center">{{compra.descripcion}}</td>
  </tr>
</table>
<h2>Estado</h2>
<table style="width: 100%; border: 1px solid black;">
  <tr>
    <th> Comprado </th>
    <th> Por comprar </th>
  </tr>
  <tr *ngFor="let compra of compras; index as i">
  <td *ngIf="compras[i].comprado" align="center">
    {{compra.comprar}}

  </td>
    <td></td>
    <td *ngIf="!compras[i].comprado" align="center">
      {{compra.comprar}}
    </td>
  </tr>
</table>
